# Thư mục và tệp do Unity sinh ra
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Các tệp ánh xạ ánh sáng và bộ nhớ đệm Unity
[Ll]ightmapSnapshot
*.cubemap
*.exr

# Tệp cache Unity
UserSettings/

# Tệp tự sinh từ Unity
*.pidb.meta
*.pdb.meta
*.mdb
*.mod.resS
*.class

# Tệp dựng sẵn từ Unity
*.UnityCacheServer.log*

# Bỏ qua thư mục Plugins đã biên dịch
Plugins/*/Managed/

# Tệp cấu hình hệ thống riêng
sys/
projectSettings.json
localPackages/
Settings/Template

# Visual Studio Code
.vscode/
*.code-workspace

# Tệp hệ thống IDE khác
.idea/
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Tệp hệ thống và tạm thời khác
*.DS_Store
*.apk
*.aab
*.obb
.gradle/
*.sublime-workspace
*.sublime-project

# Unity packages
*.unitypackage

# Log file và các tệp tạm khác
*.log
*.swp
*.lock
